*.com
*.zip
*.tar
.DS_Store
data/
datasets_files/
checkpoint/
logs/
__pycache__/
*.pyc
ImageNet_LT/
*/__pycache__
*.h5
*.csv
*.npz
*.pkl
CMO/logs/
RC_scripts/
*.yml

# files only in RC account for testing purposes. Remove before submit.
CMO/cifar_train_cmo.py
CMO/cifar_train_cmo_100.py
CMO/cifar_train_cmo_xai_100.py
CMO/imagenet_train_cmo.py
CMO/imagenet_train_cmo_1000.py
CMO/imagenet_train_cmo_xai_1000.py
