*.com
*.zip
*.tar
.DS_Store
data/
datasets_files/
checkpoint/
logs/
__pycache__/
*.pyc
ImageNet_LT/
*/__pycache__
*.h5
*.csv
*.npz
*.pkl
CMO/logs/
RC_scripts/
*.yml
*.txt
CMO/imbalance_data/*.txt
*.png
yolov5/

# files only in RC account for testing purposes. Remove before submit.
test_files_for_RC/
